<section>
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="13px" #form="ngForm" (ngSubmit)="login(form)">
        <mat-form-field>
            <input 
                type="email" 
                matInput 
                placeholder="Adresse Mail" 
                ngModel 
                name="email"
                email
                required
                #emailInput="ngModel"
            >
        <mat-error *ngIf="emailInput?.hasError('required')">E-mail is invalid</mat-error>
        <mat-error *ngIf="!emailInput?.hasError('required')">Ce champ doit être non nul</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel = "Doit avoir au moins 6 caractères.">
            <input 
              type="password" 
              matInput 
              placeholder="Mot de Passe" 
              ngModel 
              name="password"
              required
              minlength="6"
              #pwdInput
            >
            <mat-hint align="end">{{pwdInput.value?.length || 0}}/6</mat-hint>
            <mat-error>Doit avoir au moins 6 caractères.</mat-error>
        </mat-form-field>
        <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>

    </form>
</section>
