<mat-card style="max-height: 240px;">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center"  fxLayoutGap="60%">
        <mat-card-title fxFlex>
            <span>Note</span>  
        </mat-card-title>
        <mat-card-actions fxFlex>
            <span> <a routerLink="">Afficher tout</a> </span>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content >
        <p>
            <li>Une allergie à ceci</li>
            <li>Une allergie à cela</li>
            <li>Une chirugie parci </li>
            <li>Une chirugie parla </li>
        </p>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-title fxLayout="row" fxLayoutAlign="space-around center">
            <span>Dr. Paul Leufang</span>
            <span>23/07/2025</span>
        </mat-card-title>
    </mat-card-footer>

</mat-card>
