<div *ngIf="!isLoading">
    <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input type="text" matInput (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="nom">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Basic Info</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nom}} {{element.prenom}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="etat">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Etat</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.etat}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.date | date}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <md-header-cell *matHeaderCellDef>Actions</md-header-cell>
            <md-cell *matCellDef="let element" fxLayoutGap="5px">
                <button mat-raised-button color="primary" (click)="acceptRdv(element)">Accepter</button>
                <button mat-raised-button (click)="openDialog(element)" >Reprogrammer</button> 
            </md-cell>
        </ng-container> 

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    
    <mat-paginator
        [pageSize]="2"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>