<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/">Cabinet Medical</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
            <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
            <li *ngIf="isAuth"><a routerLink="/patients">Patients</a></li>
            <li *ngIf="isAuth"><a routerLink="/users">Utilisateurs</a></li>
            <li *ngIf="isAuth"><a routerLink="/rdv">Rendez-vous</a></li>
            <li *ngIf="isAuth"><a style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
        </ul>
    </div>
</mat-toolbar>
