<div *ngIf="!isLoading">
    <div fxLayoutAlign="center center">
        <mat-form-field fxFlex="40%">
            <input type="text" matInput (keyup)="doFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Basic Info</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.nom}} {{element.prenom}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="telephone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.telephone}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="adresse">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.adresse}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="prochainRdv">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Prochaine Consultation</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.prochainRdv | date}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="lastRdv">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Dernière Consultation</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.lastRdv | date}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="registerDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date d'inscription</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.registerDate | date}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    
    <mat-paginator
        [pageSize]="2"
        [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>