<mat-tab-group dynamicHeight>
  <mat-tab label="Liste des  Patients">
    <app-patient-list></app-patient-list>
  </mat-tab>
  <mat-tab label="Fiche Patient">
    <app-fiche-patient></app-fiche-patient>
  </mat-tab>
</mat-tab-group>