<!-- <div fxLayout="row" fxLayoutAlign="space-between stretch" >
  <section fxFlex="30">
    <img src="../../../assets/medical.png" alt="doctor's office">
  </section>

  <section fxLayout fxFlex="30">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" #form="ngForm" (ngSubmit)="onSubmit(form)">
      <mat-form-field>
        <input type="email" matInput placeholder="Adresse Mail" ngModel name="email">
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Mot de Passe" ngModel name="password">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Votre Prenom" ngModel name="prenom">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Votre Nom" ngModel name="nom">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Adresse" ngModel name="adesse">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telephone</mat-label>
        <input type="tel" matInput placeholder="56395925" ngModel name="tel">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
    </form>
  </section>

</div> -->

<section>
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="7px" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <mat-form-field>
      <input 
        type="email" 
        matInput 
        placeholder="Adresse Mail" 
        ngModel 
        name="email"
        email
        required
        #emailInput="ngModel"
      >
      <mat-error *ngIf="emailInput?.hasError('required')">E-mail is invalid</mat-error>
      <mat-error *ngIf="!emailInput?.hasError('required')">Ce champ doit être non nul</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel = "Doit avoir au moins 6 caractères.">
      <input 
        type="password" 
        matInput 
        placeholder="Mot de Passe" 
        ngModel 
        name="password"
        required
        minlength="6"
        #pwdInput
      >
      <mat-hint align="end">{{pwdInput.value?.length || 0}}/6</mat-hint>
      <mat-error>Doit avoir au moins 6 caractères.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="text" 
        matInput 
        placeholder="Votre Prenom" 
        ngModel 
        name="firstName"
        required
      >
      <mat-error>Ce champ doit être non nul</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="text" 
        matInput 
        placeholder="Votre Nom" 
        ngModel 
        name="lastName"
        required
      >
      <mat-error>Ce champ doit être non nul</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        type="text" 
        matInput
        placeholder="Adresse" 
        ngModel 
        name="adresse"
        required
      >
      <mat-error>Ce champ doit être non nul</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telephone</mat-label>
      <input 
        type="tel"
        matInput 
        placeholder="56395925" 
        ngModel 
        name="tel"
        required 
        maxlength="13"
      >
      <mat-error>Ce champ doit être non nul</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      matInput 
      placeholder="Votre date de naissance" 
      ngModel
      name="birthDate"
      required
      [matDatepicker]="picker"               
      [max]="maxDate">
      <mat-datepicker-toggle 
          matSuffix 
          [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agreement" required color="primary">
      Accepter les conditions d'utilisation
    </mat-checkbox>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Submit</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>