<mat-sidenav-container>
    <mat-sidenav #sideNav role="navigation">
       <app-sidenav-list (sidenavClose)="sideNav.close()">

       </app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sideNav.toggle()">

        </app-header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>