<mat-card style="max-height: 250px;">
    <mat-card-header fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20%">
        <mat-card-title fxFlex>
            <span>Fichiers/Documents</span>  
        </mat-card-title>
        <mat-card-actions fxFlex>
            <span> <a routerLink="">Ajouter un document</a> </span>
        </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 4</mat-list-item>
        </mat-list>
    </mat-card-content>

</mat-card>