<h1 mat-dialog-title>Hi John Doe</h1>
<div mat-dialog-content fxLayout="column" >
  <mat-form-field>
    <mat-label>Date RDV</mat-label>
    <input matInput [(ngModel)]="rdvDate" [matDatepicker]="picker" #input>
    <mat-datepicker-toggle 
        matSuffix 
        [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="onOkClick(data)">Ok</button>
</div>