<mat-card fxLayoutAlign="cenetr center" fxLayout="column" fxLayoutGap="10px">
    <mat-card-content fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="cenetr center">
        <img fxFlex mat-card-sm-image mat-card-avatar class="bg-image" src="../../../../../assets/team.png">
        <mat-list-item fxFlex fxLayoutAlign="cenetr center">
            <div mat-line style="font-weight: bold; font-size: 22px;">John Doe</div>
            <div mat-line style="font-size: 14px;">test@gmail.com</div>
        </mat-list-item>
        <div fxFlex fxLayout="row" fxLayoutGap="20px">
            <mat-list-item fxLayoutAlign="cenetr center">
                <div mat-line style="font-weight: bold;">15</div>
                <div mat-line>past</div>
            </mat-list-item> 
            <mat-divider [vertical]="true"></mat-divider>
            <mat-list-item fxLayoutAlign="cenetr center">
                <div mat-line style="font-weight: bold;">2</div>
                <div mat-line>Upcoming</div>
            </mat-list-item>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <button mat-button color="primary" (click)="openDialog()">Creer RDV</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>