<mat-card>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between start" fxLayoutGap="80px">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="200px">
            <mat-list-item>
                <div mat-line>Gender</div>
                <div mat-line style="font-weight: bold;">Male</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>BirthDay</div>
                <div mat-line style="font-weight: bold;">Feb 24th, 1997</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Phone Number</div>
                <div mat-line style="font-weight: bold;">+21656395925</div>
            </mat-list-item>
        </div>
        <div ffxFlex fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="200px">
            <mat-list-item>
                <div mat-line>Adress</div>
                <div mat-line style="font-weight: bold;">Route de Tunis Km1</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Ville</div>
                <div mat-line style="font-weight: bold;">Sfax</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Zipcode</div>
                <div mat-line style="font-weight: bold;">3002</div>
            </mat-list-item>
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="200px">
            <mat-list-item>
                <div mat-line>Gender</div>
                <div mat-line style="font-weight: bold;">Male</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Member Status</div>
                <div mat-line style="font-weight: bold;">Active Member</div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Register Date</div>
                <div mat-line style="font-weight: bold;">Feb 24th, 2021</div>
            </mat-list-item>
        </div>
    </mat-card-content>
</mat-card>