<mat-card>
    <mat-card-content>
        <mat-tab-group dynamicHeight>
            <mat-tab label="Rdv prochains">
              <app-patient-list></app-patient-list>
            </mat-tab>
            <mat-tab label="Rdv passés">
                <app-patient-list></app-patient-list>
            </mat-tab>
            <mat-tab label="Dossier médical">
              <app-medical-record></app-medical-record>
            </mat-tab>
          </mat-tab-group>
    </mat-card-content>
</mat-card>