<mat-tab-group dynamicHeight>
    <mat-tab label="Calendrier">
      <ejs-schedule [eventSettings]="eventData"  [currentView]="newViewMode"></ejs-schedule>
    </mat-tab>
    <mat-tab label="Rdv pris">
      <app-rdv-pris></app-rdv-pris>
    </mat-tab>
</mat-tab-group>