<!-- <mat-grid-list cols="3" rowHeight="320px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1"
        style.background='lightblue'>
      One
    </mat-grid-tile>
    <mat-grid-tile
        colspan="2"
        rowspan="1"
        style.background='lightgreen'>
      Two
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1"
        style.background='lightpink'>
      Three
    </mat-grid-tile>
    <mat-grid-tile
        colspan="3"
        rowspan="2"
        style.background='#DDBDF1'>
      Four
    </mat-grid-tile>
    <mat-grid-tile
        colspan="1"
        rowspan="1"
        style.background='lightblue'>
      Five
    </mat-grid-tile>
</mat-grid-list> -->
<div fxLayout="row" fxLayoutGap="10px" style="margin-top: 5px; margin-left: 15px; margin-right: 10px;">
  <mat-grid-list cols="3" rowHeight="235px" style="width: 72%">
      <mat-grid-tile colspan="1" rowspan="1">
        <app-basique style="width: 100%"></app-basique>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="1">
        <app-generale style="width: 100%; height: 100%"></app-generale>
      </mat-grid-tile>
  </mat-grid-list>
  <div style="height: 240px; width: 28%;">
      <app-note style="height: 100%">

      </app-note>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="10px" style="margin-top: 5px; margin-left: 15px;  margin-right: 10px;">
  <div style="height: 250px; width: 72%;">
    <app-rdvs-patient></app-rdvs-patient>
  </div>
  
  <div style="height: 250px; width: 28%;">
    <app-docs></app-docs>
  </div>
</div>